/* =========================
   NEWSLETTER SECTION
========================= */

.newsletter {
    padding: 120px 8%;

    background:
        linear-gradient(rgba(11,31,58,0.88), rgba(11,31,58,0.88)),
        url("images/marinelogistics02.jpg");

    background-size: cover;
    background-position: center;

    text-align: center;

    color: white;
}

.newsletter-overlay {
    max-width: 750px;
    margin: auto;
}

.newsletter h2 {
    font-size: 3rem;
    margin-bottom: 20px;

    line-height: 1.2;
}

.newsletter p {
    font-size: 1.05rem;
    line-height: 1.8;

    margin-bottom: 40px;

    color: #dbe4ee;
}


/* =========================
   NEWSLETTER FORM
========================= */

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 15px;

    flex-wrap: wrap;
}

.newsletter-form input {
    width: 100%;
    max-width: 450px;

    padding: 18px 22px;

    border: none;
    outline: none;

    border-radius: 50px;

    font-size: 1rem;

    background: rgba(255,255,255,0.12);

    color: white;

    backdrop-filter: blur(10px);
}

.newsletter-form input::placeholder {
    color: #d1d5db;
}

.newsletter-form button {
    padding: 18px 35px;

    border: none;
    border-radius: 50px;

    background: var(--accent);

    color: white;

    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    transition: 0.35s ease;
}

.newsletter-form button:hover {
    transform: translateY(-5px);

    background: #178b8b;

    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {

    .newsletter h2 {
        font-size: 2.2rem;
    }

    .newsletter-form {
        flex-direction: column;
    }

    .newsletter-form input,
    .newsletter-form button {
        width: 100%;
        max-width: 100%;
    }

}